.venv/
saved_models/**/*
saved_models/**
.ipynb_checkpoints/.gitignore-checkpoint
.DS_Store
code/sc_training.h5ad
.ipynb_checkpoints/*
data/*
figures/*
multi_graph.pkl
.ipynb_checkpoints
challenge2/part_c/code/data
challenge2/part_c/code/gene_embedding
challenge2/part_c/code/saved_models
challenge2/part_c/code/GAN_data

*.zip
